body{
    padding: 0;
    margin: 0;
    /* Optional */
    color: black;
}
.container nav{
    display: flex;
    justify-content: space-around;
}


.blink {
    animation: blink 0.5s infinite;
  }
  @keyframes blink{
    to { opacity: .0; }
  }
  .flex {
      display: flex;
  }
  .header-sub-title {
    color: rgb(101, 1, 103);
    font-family: "Courier";
    font-size: 40px;
  }


/* Middle Section */
.container .middle{
    display: flex;
    justify-content: space-around;
    margin-top: 10%;
}
.container .middle .left b{
    font-size: 45px;
    color: purple;
}
.container .middle .left button a{
    text-decoration: none;
    color: white;
}
#btn_login,#btn_signup{
    background-color: rgb(166, 0, 163);
    font-size: 20px;
    padding: 5px;
    border: none;
    width: 50%;
    cursor: pointer;
}
#loggedin{
    font-weight: lighter;
    font-size: 0.8rem;
    margin: 5%;
}

.container .middle .right img{
    width: 400px;
    height: 400px;
    margin-top: -20px;
    border-radius: 10px;
    background-color: black;
}

/* Media Query */
@media only screen and (max-width: 600px) {
    body{
        padding: 10px;
    }
    .container .middle{
        display: block;
    }
    .container .middle .right img{
        display: none;
    }

}