body{
    margin: 0;
    padding: 0;
    background-image: none;
}
/* Navbar */
.container nav{
    background-color: rgb(118, 0, 104);
    color: white;
    padding: 0;
}
.container nav .right{
    display: none;
}
/* Middle Portion */
.middle{
    width: 100%;
    padding-top: 120px;
}
.middle .form{
    width: 330px;
    margin: auto;
    text-align: left;
    border: 1px solid rgb(228, 228, 228);
    padding: 12px;
    padding-top: 0px;
    border-radius: 8px;
}
.middle .form form h2{
    font-family:sans-serif, 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, Courier, monospace;
    font-size: 30px;
}
label{  
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}
.middle .form form input{
    font-size: 14px;
    padding: 8px;
    width: 90%;
    margin-bottom: 12px;
    margin-top: 4px;
    border: 1px solid rgb(200, 200, 200);
    border-radius: 5px;    
}
.middle .form form p{
    font-size: 14px;
    padding: 8px;
    width: 90%;
    margin-bottom: 10px;
    margin-top: 4px;
    border: 1px solid rgb(200, 200, 200);
    border-radius: 5px;   
}
#submit_btn{
    margin: auto;
    margin-top: 30px;
    margin-bottom: 20px;
    width: 100%;
    background-color: rgb(136, 0, 109);
    color: white;
    font-size: 14px;
    padding: 7px;
    margin: 0;
    border-radius: 8px;
}
.a-divider{
    
    text-align: center;
}
.middle .down p{
    font-size: 14px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.middle .down p a{
    text-decoration: none;
}


/* Media Query */
@media only screen and (max-width: 600px) {
     .middle{
        display: block;
    }
     .middle .left .form form input{
        font-size: 12px;
        width: 90%;
    }
    #submit_btn{
        font-size: 14px;
    }
     .middle .right img{  
        display: none;
    }

  }