{% extends "base.html" %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}Signup{% endblock title %}
    {% block css %}
    <link rel="stylesheet" href="../static/sign2.css">
    {% endblock css %}
</head>
<body>
    {% block body %}
        <div class="middle">
            {% comment %} Change action link to 'getotp' when using official{% endcomment %}
            <form action="get_otp_page" method="POST">
                {% csrf_token %}
                <p>What's your phone number?</p>
                <input type="number" placeholder="Enter phone number">
                <br>
                <input type="submit" value="Continue" id="submit_btn">
            </form>
            <span>-------------------or--------------------</span>
            <div class="social">
                <button>Continue With Google</button>
                <br>
                <button>Continue With Facebook</button>
            </div>
            <span>-------------------or--------------------</span>
            <div class="alert">
                <p>
                    By proceeding, you consent to get calls, WhatsApp or SMS messages, including by automated means, from ParkEase and its affiliates to the number provided.
                </p>
            </div>
        </div>

    {% endblock body %}
</body>
</html>

<!-- Twilio recovery shivam@2419 - > YYTAHGCRCZXMWEUGR99HUV75 -->
<!-- Twilio recovery gyanmantra ->  YYTAHGCRCZXMWEUGR99HUV75 -->